body{
	background-color: #F5F5F5;
	font-family: 'Roboto', sans-serif;
	color: black;
}

#circulosVacios > img{
	margin-right: 5px;
}

header{
	text-align: center;
}

h1{
	margin-top: 10px;
}

#colores{
	border: 2px solid;
	background-size: 32px;
}

#contenedor {
	display: flex;
	justify-content: space-between;
}

main{
	width: 85%;
}

aside{
	border: 3px solid black;
	width: 15%;
	height: 390px;
    padding: 20px 40px;
    padding-right: 0;
    background: #BDBDBD;
}

#tablero{
	display: flex;
	flex-direction: column-reverse;
}

aside > img{
	width: 70px;
	height: 70px;
	cursor: pointer;
}

#vacioGrande0, #vacioGrande1, #vacioGrande2, #vacioGrande3{
	width: 70px;
	height: 70px;
	cursor: pointer;
}

#vacioPequeño0, #vacioPequeño1, #vacioPequeño2, #vacioPequeño3{
	width: 70px;
	height: 70px;
}

div{
	display: inline-block;
}

#ganado{
	text-align: center;
	font-size: 80px;
}

/*	Ventana modal	*/
#dialog-confirm{
	display: none;
}

p{
	margin: 7px 0;
	font-size: 29px;
	text-align: center;
}